<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DigiBank</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="navbar">
        <div class="logo">DigiBank$</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transaction">Transaction</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
        <div class="auth-buttons" th:switch="${status}">
            <div th:case="false">
                <a href="/login" class="login-button">Login</a>
                <a href="/signin" class="signup-button">Sign Up</a>
            </div>
            <div th:case="true">
                <a href="/signout" class="signup-button">Sign Out</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Welcome to DigiBank</h1>
            <p>Your digital banking solution for modern financial needs.</p>
            <a href="/signin" class="cta-button">Get Started</a>
        </div>
    </section>
</body>

</html>